<br>


<div class="flex">
    <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden"  id="total-orders">
        <h2 class="bg-cyan-600 p-3 text-center text-white">Total Orders</h2>
        <div class="p-10"></div>
    </div>
</div>

<div class="flex">
    <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden" id="orders-delivered">
        <h2 class="bg-sky-500 p-3 text-center text-white">Orders Delivered</h2>
        <div class="p-10"></div>
    </div>
</div>

<div class="flex">
    <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden" id="orders-pending">
        <h2 class="bg-emerald-500 p-3 text-center text-white">Orders Pending</h2>
        <div class="p-10"></div>
    </div>
</div>

